*{
    font-family: 'Montserrat', sans-serif; 
}



.main{
    margin-bottom: 110px;
}

img{
    max-width: 90%;
}


.Cart-Items {
    margin:30px 30px 50px 0;
    padding-right: 10px;
    background-color: red;
    border-radius: 0 20px 20px 0;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    width: 15%;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;

}

.title {
    font-size: 26px;
    font-weight: 800;
    color: white;
}

.counter {
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.count {
    font-size: 20px;
    font-weight: 900;
    color: white;

}

.prices {
    width: 10%;

}

.amount {
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.save {
    font-size: 14px;
    font-weight: 600;

    color: black;
    cursor: pointer;
}

.remove {
    font-size: 14px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}




hr {
    width: 62%;
    margin-right: 5%;
}

.checkout {
    float: right;
    margin-right: 5%;
    margin-bottom: 20px;
    width: 20%;

}

.total {
    display: flex;
    justify-content: space-between;
}

.Subtotal {
    font-size: 22px;
    font-weight: 700;
    color: red;
}

.items {
    font-size: 16px;
    font-weight: 500;
    color: Grey;
    line-height: 10px;
}

.total-amount {
    font-size: 36px;
    font-weight: 900;
    color: red;
}

.button {
    margin-top: 10px;
    width: 70%;
    height: 40px;
    border: none;

    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.button:hover{
    background-color: rgb(173, 173, 173);
}