*{
    padding: 0;
    margin: 0;
    margin-bottom: -1px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



body {
    background-color: #231D1A;
    background: linear-gradient(to bottom right);
    justify-content: center;

}

.header {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.Heading {
    font-size: 20px;
    font-weight: 700;
    color: red;
}

.Action {
    color: red;
    cursor: pointer;
    border-bottom: 1px solid red;
}

.Cart-Items {
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: corner;
}

.image-box {
    width: 15%;
    text-align: center;
    cursor: pointer;

}

.title {
    font-size: 26px;
    font-weight: 800;
    color: red;
}

.counter {
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.count {
    font-size: 20px;
    font-weight: 900;

}

.prices {
    width: 10%;
    height: 60%;
    padding-left: 40px;
}

.amount {
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.save {
    font-size: 14px;
    font-weight: 600;
    color: red;
    cursor: pointer;
}

.remove {
    font-size: 14px;
    font-weight: 600;
    color: red;
    cursor: pointer;
}

.image-box2 {
    height: 80%;
    width: 15%;
    text-align: center;
    cursor: pointer;
    border-left-color: #231D1A
}

.title {
    font-size: 26px;
    font-weight: 800;
    color: red;
}

.counter2 {
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count {
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.prices2 {
    width: 10%;
    height: 40%;
    padding-left: 40px;
}

.amount {
    font-size: 24px;
    font-weight: 800;
    color: red;
}

.save {
    font-size: 14px;
    font-weight: 600;
    color: Blue;
    cursor: pointer;
}

.remove {
    font-size: 14px;
    font-weight: 600;
    color: red;
    cursor: pointer;
}

.image-box3 {
    height: 100%;
    width: 15%;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.title {
    font-size: 26px;
    font-weight: 800;
    color: red;
}

.counter3 {
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count {
    font-size: 20px;
    font-weight: 900;
    color: red;
}

.prices3 {
    width: 10%;
    height: 40%;
    padding-left: 40px;
}

.amount {
    font-size: 24px;
    font-weight: 800;
    color: red;
}

.save {
    font-size: 14px;
    font-weight: 600;
    color: Blue;
    cursor: pointer;
}

.remove {
    font-size: 14px;
    font-weight: 600;
    color: red;
    cursor: pointer;
}

hr {
    width: 62%;
    margin-right: 5%;
}

.checkout {
    float: right;
    margin-right: 5%;
    width: 20%;
}

.total {
    display: flex;
    justify-content: space-between;
}

.Subtotal {
    font-size: 22px;
    font-weight: 700;
    color: red;
}

.items {
    font-size: 16px;
    font-weight: 500;
    color: Grey;
    line-height: 10px;
}

.total-amount {
    font-size: 36px;
    font-weight: 900;
    color: red;
}

.button {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right);
    background-color: skyBlue;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: black;
}