

#container{
    
    display: grid;
    grid-template-rows: repeat(3 , 150px);
    margin-top: 50px;
    margin-right: 30px;
}  


.row{

    width: 100%;
    height: 100px;
    background-color: red;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 15px 15px 0;
}

.row:hover{
    box-shadow: 0px 0px 10px white;
    background-color: rgb(197, 0, 0);
}

.category-heading{

    color: white;
    font-size: 34px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;


    padding-left: 30px;
}

.category-img img{

    height: 70px;

}
