*{
    padding: 0;
    margin: 0;
    margin-bottom: -1px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #231D1A;
}

#top{
    display: flex;
    justify-content: center;
    
    padding-top: 30px;

    width: 100%;

}

#heading{

    color: red;
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;

}

#container{
    
    display: grid;
    grid-template-rows: repeat(3 , 150px);
    margin-top: 50px;
    margin-right: 30px;
}  
.row{

    max-width: 100%;
    width: 100%;
    height: 100px;
    background-color: red;
    
    display: flex;
    justify-content: space-around;
    border-radius: 0 15px 15px 0;
}

.row:hover{
    box-shadow: 0px 0px 10px white;
    background-color: rgb(197, 0, 0);
}

.category-heading{

    color: white;
    font-size: 34px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;


    padding-left: 30px;
    align-self: center;
}

.category-img{
    padding: 10px;
    align-self: center; 

}

.category-img img{
    height: 90px;
    padding: 10px 0;
    
}
