
/* TO KEEP THE FOOTER AT THE END OF PAGE */

html, body{
    height: 100%;
}
.main{
    min-height: 100%;
    padding-bottom: 110px;
}

/*********************************************/


.footer{
    position: relative;
    margin-top: -110px;
}
.footer-container{

    background-color: red;
    width: 100%;
    padding: 10px;
    height: 110px;

    display: flex;

}

.footer-left{
    padding-top: 10px;

    flex: 60%;

    display: flex;
    flex-direction: column;
}

.footer-heading{
    padding-bottom: 5px;

    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.footer-nav{
    max-width: 200px;
    border-radius: 10px;

    background-color: white;

}

.footer-nav-icons{

    padding: 2px;
    border-radius: 5px;
    width: 100%;
    text-align: center;

}

.footer-nav-icons li{
    display: inline-block;
    
}

.footer-img{

    margin: 5px 10px;
    width: 30px;
    border-radius: 8px;
}

.footer-img:hover{
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
    
}

.footer-right{
    
    flex:40%;
    display: flex;
    align-items: center ;
}

.footer-text{

    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}