*{
    padding: 0;
    margin: 0;
    margin-bottom: -1px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: red;
    height: 70px;
    width: 100%;
    
}

nav img{
    padding-top: 8px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;

}

.design{

    color: white;
    padding: 8px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover{

    background-color: rgb(139, 0, 0);
}

#first_image{
    position: relative;
    width: 100%;
}

#first_image img{

    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.center_left{
    position: absolute;
    top: 50%;
    left: 50px;
}
.main_heading_red{
    text-align: left;
    color: red;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
  
}

.red_banner{
    width: 100%;
    margin-top: -5px;
    padding: 5px;
    text-align: center;
    background-color: red;
}

.red_banner_text{
    color: white;
    font-size: 34px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.black_banner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #231D1A;
}

.column{
    
    max-width: 500px;
    max-height: 500px;

    width: 100%;
    flex: auto;
    padding: 30px;
}
.column_img{
    width: 100%;
    border-radius: 10px;
}

.column img:hover{
    box-shadow: 0px 0px 10px red;
}

.column2{
    
    width: 100%;
    flex: 70%;
    padding: 30px;
}
.column21{
    
    width: 100%;
    flex: 30%;
    padding: 30px;
}
.column2_img{
    width: 100%;
    border-radius: 10px;
}

.column2 img:hover{
    box-shadow: 0px 0px 10px red;
}
