*{
    padding: 0;
    margin: 0;
    margin-bottom: -1px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: red;
    height: 70px;
    width: 100%;
    
}

nav img{
    padding-top: 8px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;

}

.design{

    color: white;
    padding: 8px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover{

    background-color: rgb(139, 0, 0);
}

#first_image{
    position: relative;
    width: 100%;
}

#first_image img{

    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.center_left{
    position: absolute;
    top: 50%;
    left: 50px;
}
.main_heading_red{
    text-align: left;
    color: red;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
  
}

.second_banner{
    width: 100%;
    margin-top: -5px;
    padding: 5px;
    text-align: center;
    background-color: red;
}

.second_banner_text{
    color: white;
    font-size: 34px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.third_banner{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #231D1A;
}

.column{
    width: 100%;
    flex: 33.33%;
    padding: 20px;
}
.column img{
    width: 100%;
    border-radius: 10px;
}
