*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: red;
    height: 70px;
    width: 100%;
}

nav img{
    padding-top: 8px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    padding: 8px;
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

nav ul li a:hover{
    color: white;
    background-color: rgb(139, 0, 0);
    padding: 8px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

#first_image{
    position: relative;
    text-align: center;
    width: 100%;

}

#first_image img{

    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#center_left{
    position: absolute;
    top: 50%;
    left: 50px;
    
    text-align: left;
    color: red;
    font-size: 50px;
    font-weight: 700;
    font-family: Arial, sans-serif;
  
}

#second_banner{
    width: 100%;
    text-align: center;
    background-color: red;
}

b{
    background-color: aqua;
    color: black;
}