*{
    padding: 0;
    margin: 0;
    margin-bottom: -1px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#first_image{
    position: relative;
    width: 100%;
}

#first_image img{

    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.center_left{
    position: absolute;
    top: 50%;
    left: 50px;
}
.main_heading_red{
    text-align: left;
    color: red;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
  
}

.red_banner{
    width: 100%;
    margin-top: -5px;
    padding: 5px;
    text-align: center;
    background-color: red;
}

.red_banner_text{
    color: white;
    font-size: 34px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.black_banner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #231D1A;
}

.column{
    
    max-width: 500px;
    max-height: 500px;

    width: 100%;
    flex: auto;
    padding: 30px;
}
.column_img{
    width: 100%;
    border-radius: 10px;
}

.column img:hover{
    box-shadow: 0px 0px 10px red;
}

.column2{
    
    width: 100%;
    flex: 70%;
    padding: 30px;
}
.column2_1{
    
    width: 100%;
    flex: 30%;
    padding: 30px;
    margin-top: 10%;
}
.column2_img{
    width: 100%;
    border-radius: 10px;
}

.column2 img:hover{
    box-shadow: 0px 0px 10px red;
}

.red_heading_medium{
    color: red;
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.white_text{
    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.footer-container{
    background-color: red;
    width: 100%;
    padding: 10px;
    min-height: 110px;
    height: auto;

    display: flex;

}

.footer-left{
    padding-top: 10px;

    flex: 60%;

    display: flex;
    flex-direction: column;
}

.footer-heading{
    padding-bottom: 5px;

    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.footer-nav{
    max-width: 200px;
    border-radius: 10px;

    background-color: white;

}

.footer-nav-icons{

    padding: 2px;
    border-radius: 5px;
    width: 100%;
    text-align: center;

}

.footer-nav-icons li{
    display: inline-block;
    
}

.footer-img{

    padding: 5px 10px;
    width: 50px;
}

.footer-right{
    
    flex:40%;
    display: flex;
    align-items: center ;
}

.footer-text{

    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}