*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: red;
    height: 70px;
    width: 100%;
}

nav img{
    padding-top: 8px;
}
nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    padding: 5px;
    font-size: 17px;
    font-family: Arial, sans-serif;
}

nav ul li a:hover{
    color: white;
    background-color: rgb(139, 0, 0);
    padding: 5px;
    border-radius: 5px;
    font-size: 17px;
    font-family: Arial, sans-serif;
}





h1{
    background-color: aqua;
    color: black;
}