
.product .box-container 
{
    padding: 2.5rem;
    display:flex;
    justify-content:center;
    flex-wrap :wrap;
    gap:4rem;

}

.product .box-container .box{
    position: relative;
    flex:20rem;
    text-align: center;
    padding: 2rem;
    max-width: 400px;
    min-width: 400px;
    background-color: red;

    border-radius:.5rem;

}

.product .box-container .box:hover{
    background-color: rgb(148, 0, 0);
}

.product .box-container .box img{
    height: 150px;
    padding-bottom: 10px;
}

span, h3, .price{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-style: italic;
}

.product .box-container .discount
{
    position:absolute;
    top:2rem;
    left:5.5rem;
    background-color :tomato;
    padding:0.5rem 0.5rem;
}

.product .box-container .box .stars i{ 
    padding:1rem .1rem;
    color:gold;
    
}

.product .box-container .box .price span{ 
 text-decoration: line-through;
}
