
.product .box-container 
{
    padding: 2.5rem;
    display:flex;
    justify-content:center;

}

.product .box-container .box{

    
    padding: 2rem;

    min-height: 500px;
    background-color: red;

    display:flex;
    align-items:center;
    border-radius:.5rem;
    overflow: hidden;

}

.box-left{
    text-align: center;
    flex:70%
}
.box-right{
    flex:30%
}


.product .box-container .box img{
    height: 200px;
    padding-bottom: 10px;
}

span, .product-name, .price{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.product-name{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}

.product .box-container .box .stars i{ 
    padding:1rem .1rem;
    color:gold;
    
}

.product .box-container .box .price span{ 
 text-decoration: line-through;
}

.button {
    margin-top: 10px;
    width: 70%;
    height: 40px;
    border: none;

    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.button:hover{
    background-color: rgb(173, 173, 173);
}